.wrapper{
    display: flex;
    gap: 20px;
}

.dropdown{
    width: 200px;
    height: 24px;
}

.resultText{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.city{
    font-size: 32px;
}

.fadedText{
    color: rgba(0, 0, 0, 0.427);
}

